/* .upload-form{
    margin-left: 500px;
    margin-right: auto;
    display: block;
} */

/* .upload-element{
    margin-top: 35px;
    align-items: center;
} */

#progress {
    width: 100%;
    background-color: #f3f3f3;
    margin-top: 10px;
    display: none;
}
  
#bar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
}

#percent {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
